body {
    margin: 0;
}


@font-face {
    font-family: Headline;
    src: url(../font/Ketchum.otf);
}

@font-face {
    font-family: pokemon;
    src: url(../font/Pokemon\ X\ and\ Y.ttf);
}


.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 200px; /* Abstand zwischen den Grid-Zellen */
    width: 100%;
    height: 69vh;
    position: absolute;
    top: 65%;
    left: 60%;
    transform: translate(-60%, -60%);
    text-align: center;
}
.parent div {
        background-color: red;
}
    
.div1 {
    grid-row: span 5 / span 5;
}

.div2 {
    grid-column: span 3 / span 3;
    grid-row: span 5 / span 5;
}

.div3 {
    grid-row: span 5 / span 5;
    grid-column-start: 5;
}

#header-gameprep {
    font-size: 4rem;
    letter-spacing: 4px;
    color: #fff;
    text-shadow: 0 0 15px #000;
    animation: glow 3s infinite ease-in-out;
    font-family: Headline;
    font-size: 3.5rem;
    user-select: none;
    text-align: center;
}


@keyframes glow {
    0% {
        text-shadow: 0 0 10px #000;
    }

    50% {
        text-shadow: 0 0 30px #fff, 0 0 60px #ff0000;
    }

    100% {
        text-shadow: 0 0 10px #000;
    }
}



.inner-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 8px;
    width: 100%;
    height: 100%;
}

.inner-grid div {
    background-color: lightgray;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-family: pokemon;
}
    
.innerGrid1 {
    grid-column: span 2 / span 2;
}

.innerGrid2 {
    grid-column: span 2 / span 2;
    grid-column-start: 4;
}

.innerGrid3 {
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    grid-row-start: 2;
}

.innerGrid4 {
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    grid-column-start: 4;
    grid-row-start: 2;
}

.innerGrid5 {
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    grid-column-start: 1;
    grid-row-start: 6;
}

.innerGrid6 {
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    grid-column-start: 4;
    grid-row-start: 6;
}

.innerGrid7 {
    grid-column-start: 3;
    grid-row-start: 5;
}
        
        